<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>bytebuddy_proxy</id>
            <username>Mixfaa</username>
            <!-- Public token with `read:packages` scope -->
            <password>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</password>
        </server>
    </servers>
</settings>